* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-color: var(--body-bg-f5);
  font-family: var(--firagoBook);
}
ul,
ol {
  list-style-type: none;
}
span,
small,
a {
  display: inline-block;
}
a {
  color: inherit;
}
input {
  background-color: transparent;
  outline: none;
  &::placeholder {
    font-family: var(--firagoBook);
  }
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.arrow-icon {
  svg {
    path {
      stroke: var(--ff-26);
    }
  }
}
.arrow-icon-down {
  transform: rotateZ(90deg);
}
.arrow-icon-up {
  transform: rotateZ(-90deg) !important;
}
