@font-face {
  font-family: "Conv_FiraGO-Book";
  src: url("fonts/FiraGO-Book.eot");
  src: local("☺"), url("fonts/FiraGO-Book.woff") format("woff"),
    url("fonts/FiraGO-Book.ttf") format("truetype");
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: "Conv_FiraGO-Bold";
  src: url("fonts/FiraGO-Bold.eot");
  src: local("☺"), url("fonts/FiraGO-Bold.woff") format("woff"),
    url("fonts/FiraGO-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_FiraGO-Medium";
  src: url("fonts/FiraGO-Medium.eot");
  src: local("☺"), url("fonts/FiraGO-Medium.woff") format("woff"),
    url("fonts/FiraGO-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url("fonts/Poppins-SemiBold.eot");
  src: url("fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("fonts/Poppins-SemiBold.woff") format("woff"),
    url("fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("fonts/Poppins-Medium.eot");
  src: url("fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/Poppins-Medium.woff2") format("woff2"),
    url("fonts/Poppins-Medium.woff") format("woff"),
    url("fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
