:root {
  /* fonts */
  --firagoBook: "FiraGO Book";
  --firagoRegular: "FiraGO Regular";
  --firagoLight: "FiraGO Light";
  --firagoMedium: "FiraGO Medium";
  --firagoBold: "FiraGO Bold";
  --helvetica: "Helvetica";
  --poppins: Poppins;
  --poppinsLight: Poppins-Light;
  --poppinsMedium: "Poppins-Medium";
  --cl-blue: #2496ff;
  --cl-red: #f83737;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cl-mod-42: #fff;
    --cl-84: #81888f;
    --body-bg-f5: #1c1c1e;
    --bg-container: #2c2c2e;
    --bg-dropdown: #3a3a3c;
    --ff-26: #fff;
    --cl-border: #48484a;
    --opac-border: #48484a80;
    --gray-box: #3a3a3c;
    --copy-icon: #81888f;
    --fa-1e: #1c1c1e;
    --user-lang: #2c2c2e80;
    --box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.24);
    --border-width: 0px;
    --bg-phone: #a6e0c4;
    --bg-hover-phone: #86d7b0;
    --bg-wallet: #a0e1fa;
    --bg-hover-wallet: #80d6f8;
    --bg-reload: #c3b5fc;
    --bg-hover-reload: #b3a2f8;
    --mode-balance-border: #1c1c1e;
    --cl-input: #81888f;
    --sr-info: #81888f;
    --widget-text: #fff;
    --bg-wiget1: #95a2e2;
    --bg-wiget2: #f5b29c;
    --bg-wiget3: #fae4ac;
    --btn-hover: #273a4a;
    --white-black: #1c1c1e;
    --circle-border: #2c2c2e;
    --cl-moon: #2496ff;
    --cl-hover-moon: #2496ff;
    --cl-sun: #81888f;
    --cl-hover-sun: #ffffff;
    --aside-border: #3a3a3c;
    --cl-copied: #130f26;
    --bg-copied: rgba(255, 255, 255, 0.9);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --cl-mod-42: #121c42;
    --cl-84: #627384;
    --body-bg-f5: #f5f5f5;
    --bg-container: #fff;
    --bg-dropdown: #fff;
    --ff-26: #130f26;
    --cl-border: #e5e7ec;
    --opac-border: #e5e7ec80;
    --gray-box: #f7f8fa;
    --copy-icon: #4b5b6c;
    --fa-1e: #f7f8fa;
    --user-lang: #e5e7ec80;
    --box-shadow: 0px 8px 40px rgba(53, 78, 91, 0.24);
    --border-width: 1px;
    --bg-phone: #e9f7f0;
    --bg-hover-phone: #dcf4e8;
    --bg-wallet: #e7f8fd;
    --bg-hover-wallet: #def1f6;
    --bg-reload: #f0edfe;
    --bg-hover-reload: #e5e1fb;
    --mode-balance-border: #f7f8fa;
    --cl-input: #4b5b6c;
    --sr-info: #130f26;
    --widget-text: #121c42;
    --bg-wiget1: #d2daff;
    --bg-wiget2: #ffd7ca;
    --bg-wiget3: #fff3d2;
    --btn-hover: #dceeff;
    --white-black: #fff;
    --circle-border: #fff;
    --cl-moon: #627384;
    --cl-hover-moon: #130f26;
    --cl-sun: #2496ff;
    --cl-hover-sun: #2496ff;
    --aside-border: #eceef5;
    --cl-copied: #fff;
    --bg-copied: rgba(51, 51, 51, 0.9);
  }
}

:root[color-scheme="dark"] {
  --cl-mod-42: #fff;
  --cl-84: #81888f;
  --body-bg-f5: #1c1c1e;
  --bg-container: #2c2c2e;
  --bg-dropdown: #3a3a3c;
  --ff-26: #fff;
  --cl-border: #48484a;
  --opac-border: #48484a80;
  --gray-box: #3a3a3c;
  --copy-icon: #81888f;
  --fa-1e: #1c1c1e;
  --user-lang: #2c2c2e80;
  --box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.24);
  --border-width: 0px;
  --bg-phone: #a6e0c4;
  --bg-hover-phone: #86d7b0;
  --bg-wallet: #a0e1fa;
  --bg-hover-wallet: #80d6f8;
  --bg-reload: #c3b5fc;
  --bg-hover-reload: #b3a2f8;
  --mode-balance-border: #1c1c1e;
  --cl-input: #81888f;
  --sr-info: #81888f;
  --widget-text: #fff;
  --bg-wiget1: #95a2e2;
  --bg-wiget2: #f5b29c;
  --bg-wiget3: #fae4ac;
  --btn-hover: #273a4a;
  --white-black: #1c1c1e;
  --circle-border: #2c2c2e;
  --cl-moon: #2496ff;
  --cl-hover-moon: #2496ff;
  --cl-sun: #81888f;
  --cl-hover-sun: #ffffff;
  --aside-border: #3a3a3c;
  --cl-copied: #130f26;
  --bg-copied: rgba(255, 255, 255, 0.9);
}
:root[color-scheme="light"] {
  --cl-mod-42: #121c42;
  --cl-84: #627384;
  --body-bg-f5: #f5f5f5;
  --bg-container: #fff;
  --bg-dropdown: #fff;
  --ff-26: #130f26;
  --cl-border: #e5e7ec;
  --opac-border: #e5e7ec80;
  --gray-box: #f7f8fa;
  --copy-icon: #4b5b6c;
  --fa-1e: #f7f8fa;
  --user-lang: #e5e7ec80;
  --box-shadow: 0px 8px 40px rgba(53, 78, 91, 0.24);
  --border-width: 1px;
  --bg-phone: #e9f7f0;
  --bg-hover-phone: #dcf4e8;
  --bg-wallet: #e7f8fd;
  --bg-hover-wallet: #def1f6;
  --bg-reload: #f0edfe;
  --bg-hover-reload: #e5e1fb;
  --mode-balance-border: #f7f8fa;
  --cl-input: #4b5b6c;
  --sr-info: #130f26;
  --widget-text: #121c42;
  --bg-wiget1: #d2daff;
  --bg-wiget2: #ffd7ca;
  --bg-wiget3: #fff3d2;
  --btn-hover: #dceeff;
  --white-black: #fff;
  --circle-border: #fff;
  --cl-moon: #627384;
  --cl-hover-moon: #130f26;
  --cl-sun: #2496ff;
  --cl-hover-sun: #2496ff;
  --aside-border: #eceef5;
  --cl-copied: #fff;
  --bg-copied: rgba(51, 51, 51, 0.9);
}
