// fonts
$firagoBook: "FiraGO Book";
$firagoRegular: "FiraGO Regular";
$firagoLight: "FiraGO Light";
$firagoMedium: "FiraGO Medium";
$firagoBold: "FiraGO Bold";
$helvetica: "Helvetica";
$poppins: Poppins;
$poppinsLight: Poppins-Light;
$poppinsMedium: "Poppins-Medium";
// colors
// for light mode

// will change if switched to dark mode
$cl-42: #121c42; // changes to #fff
$cl-26: #130f26; // changes to #fff
$cl-6c: #4b5b6c; // changes to #81888F
$cl-84: #627384; // changes to #81888F
$cl-ec: #e5e7ec; // border color // for dark mode #48484A
$cl-blue: #2496ff;
$cl-red: #f83737;

// grayish background colors
$bg-fa: #f7f8fa;
// button hover for light and dark modes
$btn-light: #dceeff;
$btn-dark: #273a4a;

//triple balance cards background color for the icons and for the elements light mode
$bg-phone: #e9f7f0; // (light mode hover #DCF4E8) (dark mode #A6E0C4 + dark mode hover #86D7B0)
$bg-wallet: #e7f8fd; // (light mode hover #DEF1F6) (dark mode #A0E1FA + dark mode hover #80D6F8)
$bg-reload: #f0edfe; // (light mode hover #E5E1FB) (dark mode #C3B5FC + dark mode hover #B3A2F8)
//light mode hovers for widgets
$bg-phone-lg-hover: #dcf4e8;
$bg-wallet-lg-hover: #def1f6;
$bg-reload-lg-hover: #e5e1fb;
$bg-boxes: #ffffff; // for dark mode #1C1C1E
// triple wiget for light mode
$bg-wiget1: #d2daff; // changes to #95A2E2
$bg-wiget2: #ffd7ca; // changes to #F5B29C
$bg-wiget3: #fff3d2; // changes to #FAE4AC
