* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-color: #f7f8fa;
  font-family: "FiraGO Book"; }

ul,
ol {
  list-style-type: none; }

span,
small,
a {
  display: inline-block; }

a {
  color: inherit; }

input {
  background-color: transparent;
  outline: none; }
  input::placeholder {
    font-family: "FiraGO Book"; }

button {
  border: none; }

p {
  color: #130f26; }

.arrow-icon-down {
  transform: rotateZ(90deg); }

.arrow-icon-up {
  transform: rotateZ(-90deg) !important; }

#main-container {
  display: grid;
  grid-template-columns: 280px 1fr; }
  #main-container #sidebar {
    background-color: #fff; }
  #main-container #section header {
    background-color: #fff;
    padding: 16px 40px; }
    #main-container #section header > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px; }
      #main-container #section header > div form {
        flex-grow: 1;
        max-width: 928px;
        display: flex;
        align-items: center;
        background-color: #f7f8fa;
        border-radius: 12px;
        border: 1px solid transparent;
        transition: 0.2s ease-in-out; }
        #main-container #section header > div form input {
          flex-grow: 1;
          border: none;
          height: 24px; }
          #main-container #section header > div form input:focus::placeholder {
            opacity: 0; }
          #main-container #section header > div form input::placeholder {
            font-size: 1rem;
            color: #4b5b6c;
            transition: 0.1s ease-in-out; }
        #main-container #section header > div form .search-svg {
          padding: 16px; }
          #main-container #section header > div form .search-svg svg {
            width: 24px;
            height: 24px; }
        #main-container #section header > div form .search-exit {
          margin-left: auto;
          margin-right: 23px;
          margin-left: 10px;
          display: none;
          width: 24px;
          height: 24px; }
      #main-container #section header > div form.active {
        border: 1px solid #2496ff; }
        #main-container #section header > div form.active .search-exit {
          display: inline-block !important; }
      #main-container #section header > div .arrow-icon {
        width: 24px;
        height: 24px; }
      #main-container #section header > div .user-lang {
        display: flex;
        align-items: center;
        gap: 24px; }
        #main-container #section header > div .user-lang > div > div:first-child {
          cursor: pointer; }
        #main-container #section header > div .user-lang .user-drop,
        #main-container #section header > div .user-lang .language-drop {
          position: absolute;
          border-radius: 8px;
          background-color: #fff;
          border: 1px solid #f7f8fa;
          top: calc(100% + 8px);
          right: 0;
          width: 276px;
          padding: 24px;
          display: none;
          flex-direction: column;
          gap: 16px;
          box-shadow: 0px 8px 40px rgba(53, 78, 91, 0.24); }
          #main-container #section header > div .user-lang .user-drop li,
          #main-container #section header > div .user-lang .language-drop li {
            padding: 16px 0;
            border-bottom: 1px solid #e5e7ec;
            display: inline-flex;
            justify-content: flex-start; }
            #main-container #section header > div .user-lang .user-drop li a,
            #main-container #section header > div .user-lang .language-drop li a {
              display: inline-flex;
              align-items: center;
              justify-content: flex-start;
              font-size: 14px;
              color: #130f26;
              text-decoration: none;
              gap: 16px; }
              #main-container #section header > div .user-lang .user-drop li a:hover,
              #main-container #section header > div .user-lang .language-drop li a:hover {
                color: #2496ff; }
                #main-container #section header > div .user-lang .user-drop li a:hover svg path,
                #main-container #section header > div .user-lang .language-drop li a:hover svg path {
                  stroke: #2496ff; }
              #main-container #section header > div .user-lang .user-drop li a small,
              #main-container #section header > div .user-lang .language-drop li a small {
                width: 24px;
                height: 24px; }
          #main-container #section header > div .user-lang .user-drop li:first-child,
          #main-container #section header > div .user-lang .language-drop li:first-child {
            padding-top: 0; }
          #main-container #section header > div .user-lang .user-drop li:last-child,
          #main-container #section header > div .user-lang .language-drop li:last-child {
            padding-bottom: 0;
            border-bottom: none; }
        #main-container #section header > div .user-lang .user {
          position: relative; }
          #main-container #section header > div .user-lang .user .user-static {
            display: flex;
            align-items: center;
            gap: 16px; }
            #main-container #section header > div .user-lang .user .user-static span.user-img {
              border-radius: 50%;
              width: 48px;
              height: 48px; }
              #main-container #section header > div .user-lang .user .user-static span.user-img img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center; }
            #main-container #section header > div .user-lang .user .user-static > div {
              display: inline-flex;
              flex-direction: column;
              gap: 8px; }
              #main-container #section header > div .user-lang .user .user-static > div > small {
                font-size: 14px;
                color: #627384; }
              #main-container #section header > div .user-lang .user .user-static > div > span {
                font-size: 1rem;
                font-family: "FiraGO Medium";
                color: #130f26; }
        #main-container #section header > div .user-lang .language {
          position: relative; }
          #main-container #section header > div .user-lang .language .language-static {
            background: #ffffff;
            border: 1px solid #e5e7ec;
            border-radius: 10px;
            padding: 12px;
            color: #130f26;
            display: inline-flex;
            align-items: center;
            gap: 16px; }
            #main-container #section header > div .user-lang .language .language-static .lang-symbol {
              width: 32px;
              height: 32px;
              background: #2496ff;
              border-radius: 6px;
              display: inline-flex;
              justify-content: center;
              align-items: center; }
              #main-container #section header > div .user-lang .language .language-static .lang-symbol img {
                max-width: 16px;
                max-height: 16px; }
          #main-container #section header > div .user-lang .language .language-drop a {
            width: 100%;
            justify-content: space-between;
            align-items: center; }
            #main-container #section header > div .user-lang .language .language-drop a div {
              display: inline-flex;
              align-items: center;
              gap: 16px; }
              #main-container #section header > div .user-lang .language .language-drop a div img {
                width: 24px;
                height: 24px; }
          #main-container #section header > div .user-lang .language .active-lang a {
            color: #2496ff; }
      #main-container #section header > div .user-lang > div.active .user-drop,
      #main-container #section header > div .user-lang > div.active .language-drop {
        display: flex !important; }
      #main-container #section header > div .user-lang > div.active .arrow-icon {
        transform: rotateZ(-90deg) !important; }

#sidebar > a {
  font-family: Poppins; }

/*# sourceMappingURL=main.css.map */
