@import "../variables.css";
@import "../common.scss";

#main-container {
  display: grid;
  grid-template-columns: 280px 1fr;
  #sidebar {
    background-color: var(--bg-container);
  }
  #section {
    header {
      background-color: var(--bg-container);
      padding: 16px 40px;
      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        form {
          flex-grow: 1;
          max-width: 928px;
          display: flex;
          align-items: center;
          background-color: var(--fa-1e);
          border-radius: 12px;
          border: 1px solid transparent;
          transition: 0.2s ease-in-out;
          input {
            flex-grow: 1;
            border: none;
            height: 24px;
            color: var(--cl-input);
            font-size: 1rem;
            &:focus {
              &::placeholder {
                opacity: 0;
              }
            }
            &::placeholder {
              font-size: 1rem;
              color: var(--cl-input);
              transition: 0.1s ease-in-out;
              font-family: var(--firagoBook);
            }
          }
          .search-svg {
            padding: 16px;
            cursor: pointer;
            svg {
              width: 24px;
              height: 24px;
              path,
              circle {
                stroke: var(--sr-info);
              }
            }
          }
          .search-exit {
            margin-left: auto;
            margin-right: 23px;
            margin-left: 10px;
            display: none;
            width: 24px;
            height: 24px;
            cursor: pointer;
          }
        }
        form.active {
          border: 1px solid #2496ff;
          .search-exit {
            display: inline-block !important;
            svg {
              path {
                stroke: var(--ff-26);
              }
            }
          }
        }
        .arrow-icon {
          width: 24px;
          height: 24px;
        }
        .user-lang {
          display: flex;
          align-items: center;
          gap: 24px;
          > div {
            > div:first-child {
              cursor: pointer;
            }
          }
          .user-drop,
          .language-drop {
            position: absolute;
            border-radius: 8px;
            background-color: var(--bg-dropdown);
            border: var(--border-width) solid #f7f8fa;
            top: calc(100% + 8px);
            right: 0;
            width: 276px;
            padding: 24px;
            display: none;
            flex-direction: column;
            gap: 16px;
            box-shadow: var(--box-shadow);
            li {
              padding: 16px 0;
              border-bottom: 1px solid var(--user-lang);
              display: inline-flex;
              justify-content: flex-start;
              a {
                // transition: 0.1s ease-in-out;
                display: inline-flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 14px;
                color: var(--ff-26);
                text-decoration: none;
                gap: 16px;
                svg {
                  path {
                    stroke: var(--ff-26);
                  }
                }
                &:hover {
                  color: var(--cl-blue);
                  svg {
                    path {
                      stroke: var(--cl-blue);
                    }
                  }
                }
                small {
                  width: 24px;
                  height: 24px;
                }
              }
            }
            li:first-child {
              padding-top: 0;
            }
            li:last-child {
              padding-bottom: 0;
              border-bottom: none;
            }
          }
          .user {
            position: relative;
            .user-static {
              display: flex;
              align-items: center;
              gap: 16px;
              span.user-img {
                border-radius: 50%;
                width: 48px;
                height: 48px;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                  object-position: center;
                }
              }
              > div {
                display: inline-flex;
                flex-direction: column;
                gap: 8px;
                > small {
                  font-size: 14px;
                  color: var(--cl-84);
                }
                > span {
                  font-size: 1rem;
                  font-family: var(--firagoMedium);
                  color: var(--ff-26);
                }
              }
            }
            // .user-drop {
            // }
          }
          .language {
            position: relative;
            .language-static {
              // background: #ffffff;
              border: 1px solid var(--cl-border);
              border-radius: 10px;
              padding: 12px;
              color: var(--ff-26);
              display: inline-flex;
              align-items: center;
              gap: 16px;
              .lang-symbol {
                width: 32px;
                height: 32px;
                background: #2496ff;
                border-radius: 6px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                img {
                  max-width: 16px;
                  max-height: 16px;
                }
              }
            }
            .language-drop {
              a {
                width: 100%;
                justify-content: space-between;
                align-items: center;
                div {
                  display: inline-flex;
                  align-items: center;
                  gap: 16px;
                  img {
                    width: 24px;
                    height: 24px;
                  }
                }
              }
            }
            .active-lang {
              a {
                color: var(--cl-blue);
              }
            }
          }
        }
        .user-lang > div.active {
          .user-drop,
          .language-drop {
            display: flex !important;
          }
          .arrow-icon {
            transform: rotateZ(-90deg) !important;
          }
        }
      }
    }
  }
}

#sidebar {
  align-self: flex-start;
  .logo-list {
    padding: 32px 40px;
    .company-logo {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      text-decoration: none;
      font-size: 1rem;
      color: var(--cl-mod-42);
      margin-bottom: 80px;
      span {
        font-family: var(--poppins);
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 32px;
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          color: var(--ff-26);
          // font-family: var(--firagoBook);
          text-decoration: none;
          font-size: 1rem;
          display: inline-flex;
          justify-content: flex-start;
          align-items: center;
          gap: 16px;
          svg {
            path,
            circle {
              stroke: var(--ff-26);
            }
          }
          &:hover {
            color: var(--cl-blue);
            svg {
              path,
              circle {
                stroke: var(--cl-blue);
              }
            }
          }
        }
        > span {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: var(--cl-blue);
          color: #fff;
          font-family: var(--poppinsMedium);
          font-weight: 500;
        }
      }
    }
    > div {
      margin-bottom: 240px;
      margin-top: 48px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      > small {
        font-family: var(--firagoBold);
        font-size: 1rem;
        color: var(--ff-26);
      }
    }
  }
  .dark-light-mode {
    padding: 32px 40px 52px;
    border-top: 1px solid var(--aside-border);
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
      border: 1px solid var(--mode-balance-border);
      border-radius: 100px;
      overflow: hidden;
      display: inline-flex;
      button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size: 1rem;
        padding: 12px 16px;
        font-family: var(--firagoBook);
        font-weight: 350;
        svg {
          width: 24px;
          height: 24px;
        }
      }
      .dark {
        color: var(--cl-moon);
        background-color: var(--gray-box);
        &:hover {
          color: var(--cl-hover-moon);
          svg {
            path {
              fill: var(--cl-hover-moon);
            }
          }
        }
        svg {
          path {
            fill: var(--cl-moon);
          }
        }
      }
      .light {
        color: var(--cl-sun);
        background-color: var(--white-black);
        &:hover {
          color: var(--cl-hover-sun);
          svg {
            path {
              fill: var(--cl-hover-sun);
            }
          }
        }
        svg {
          path {
            fill: var(--cl-sun);
          }
        }
      }
    }
  }
}

// balance-wiget-transaction
.balance-wiget-transaction {
  display: grid;
  grid-template-columns: 1fr 608px;
  padding: 40px;
  grid-gap: 24px;
  .balance-widget {
    .balance-section {
      background-color: var(--bg-container);
      border-radius: 12px;
      overflow: hidden;
      .overall-balance {
        padding: 32px;
        border-bottom: 4px solid var(--mode-balance-border);
        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6 {
          font-size: 24px;
          color: var(--ff-26);
          font-family: var(--firagoBold);
        }
        .sum-add-balance {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 24px;
          border-bottom: 1px solid var(--cl-border);
          padding-bottom: 32px;
          .btn-icon {
            padding: 16px 24px 16px 16px;
          }
          .sum-balance {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .native-currency {
              color: var(--ff-26);
              > span {
                font-size: 48px;
                font-family: var(--firagoMedium);
              }
              > small {
                font-size: 24px;
                font-family: var(--firagoBook);
                font-weight: 350;
              }
            }
            .foreign-currency {
              display: flex;
              flex-wrap: wrap;
              gap: 24px;
              > div {
                > span {
                  font-size: 16px;
                  font-family: var(--firagoMedium);
                  color: var(--ff-26);
                }
                > small {
                  font-size: 12px;
                  font-family: var(--firagoBook);
                  margin-left: 3px;
                  color: var(--cl-84);
                }
              }
            }
          }
        }
        .account-num {
          padding-top: 32px;
          display: flex;
          justify-content: flex-start;
          gap: 16px;
          > span {
            svg {
              path {
                stroke: var(--ff-26);
              }
            }
          }
          > div {
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-self: center;
            > span {
              color: var(--cl-84);
              font-size: 14px;
              font-family: var(--firagoBook);
            }
            > div {
              color: var(--ff-26);
              font-size: 1rem;
              font-family: var(--firagoMedium);
              font-weight: 500;
            }
          }
          .copy-svg {
            width: 24px;
            height: 24px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            align-self: flex-end;
            margin-bottom: 6px;
            cursor: pointer;
            svg {
              width: 100%;
              height: 100%;
              path {
                stroke: var(--copy-icon);
              }
            }
          }
        }
      }
      .payment-methods {
        padding: 32px;
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        button {
          flex-grow: 1;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 16px;
          padding: 16px;
          gap: 16px;
          border-radius: 10px;
          transition: 0.1s ease-in-out;
          > span {
            background-color: var(--white-black);
            svg {
              path,
              circle {
                stroke: var(--ff-26);
              }
            }
          }
          small {
            font-size: 16px;
          }
        }
        .red-dot {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            background: var(--cl-red);
            border: 4px solid var(--circle-border);
            width: 16px;
            height: 16px;
            border-radius: 50%;
            right: -7px;
            top: -6px;
          }
        }
        button:nth-child(1) {
          background-color: var(--bg-phone);
          &:hover {
            background-color: var(--bg-hover-phone);
          }
        }
        button:nth-child(2) {
          background-color: var(--bg-wallet);
          &:hover {
            background-color: var(--bg-hover-wallet);
          }
        }
        button:nth-child(3) {
          background-color: var(--bg-reload);
          &:hover {
            background-color: var(--bg-hover-reload);
          }
        }
      }
    }
    .widget-section {
      display: flex;
      flex-direction: column;
      .title-and-arrows {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0 16px 0;
        > h1,
        > h2,
        > h3,
        > h4,
        > h5,
        > h6 {
          font-size: 1rem;
          font-family: var(--firagoBold);
          color: var(--ff-26);
        }
        .slider-arrows {
          display: inline-flex;
          gap: 8px;
          align-items: center;
          button {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            svg {
              width: 24px;
              height: 24px;
            }
          }
          .left-slide {
            svg {
              transform: rotateZ(180deg);
            }
          }
        }
      }
      > .btn-icon {
        margin-top: 24px;
        padding: 16px 16px 16px 24px;
        align-self: center;
      }
      .widget-slider {
        display: flex;
        flex-wrap: wrap;
        .widget-slider-item {
          background-color: var(--bg-container);
          padding: 32px 32px 56px 32px;
          border-radius: 12px;
          min-width: 298px;
          cursor: pointer;
          > span {
            width: 104px;
            height: 104px;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 32px;
            img {
              height: 48px;
            }
          }
          .bluish {
            background-color: var(--bg-wiget1);
          }
          .reddish {
            background-color: var(--bg-wiget2);
          }
          .yellowish {
            background-color: var(--bg-wiget3);
          }
          > div {
            display: flex;
            flex-direction: column;
            > a {
              display: inline-flex;
              align-items: center;
              justify-content: flex-start;
              text-decoration: none;
              font-size: 1rem;
              color: var(--widget-text);
              font-weight: 350;
              svg {
                width: 24px;
                height: 24px;
                path {
                  stroke: var(--sr-info);
                }
              }
            }
            > div {
              display: inline-flex;
              gap: 8px;
              > span {
                font-family: var(--firagoMedium);
                font-size: 40px;
                color: var(--ff-26);
                display: inline-flex;
                gap: 3px;
                > small {
                  color: var(--cl-84);
                  align-self: flex-end;
                  margin-bottom: 7px;
                  font-size: 1rem;
                }
              }
              > small {
                align-self: flex-end;
                margin-bottom: 10px;
                font-size: 1rem;
                color: var(--widget-text);
              }
            }
            > span {
              font-size: 14px;
              color: var(--cl-blue);
            }
            .red {
              color: var(--cl-red) !important;
            }
          }
        }
      }
    }
  }
  .transaction {
    background: var(--bg-container);
    border-radius: 12px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      font-size: 24px;
      font-family: var(--firagoBold);
      color: var(--ff-26);
    }
    .transaction-history {
      display: flex;
      flex-direction: column;
      gap: 24px;
      .tr-row {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .tr-date {
          color: var(--cl-84);
          font-size: 12px;
          font-family: var(--firagoBook);
          font-weight: 350;
        }
        > div:not(> div:last-child) {
          background-color: red;
          // border: 1px solid #e5e7ec;
        }
        > div {
          border-bottom: 1px solid var(--opac-border);
          padding-bottom: 16px;
        }
        > div:last-child {
          border-bottom: none;
          padding-bottom: 0px;
        }
        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 16px;
          > span {
            svg {
              path,
              circle {
                stroke: var(--ff-26);
              }
            }
          }
          .bulbSvg {
            svg {
              path:nth-child(2) {
                stroke: none !important;
                fill: var(--ff-26);
              }
            }
          }
          .tr-info {
            display: flex;
            flex-direction: column;
            gap: 13px;
            flex-grow: 1;
            overflow: hidden;
            > div {
              font-size: 16px;
              color: var(--ff-26);
              font-family: var(--firagoBook);
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            > p {
              color: var(--cl-84);
              font-size: 14px;
              line-height: 17px;
              font-family: var(--firagoBook);
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          .tr-quant {
            display: inline-flex;
            justify-content: center;
            align-items: flex-end;
            > span {
              font-family: var(--firagoMedium);
              color: var(--ff-26);
              font-size: 16px;
            }
            small {
              color: var(--cl-84);
              font-size: 12px;
              margin-left: 3px;
              margin-top: -2px;
            }
          }
        }
      }
    }
    > button {
      align-self: center;
      padding: 16px 16px 16px 24px;
    }
  }
}
// general btn style
.btn-icon {
  // align-self: center;
  border: 1px solid var(--cl-border);
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  // padding: 16px 16px 16px 24px;
  // font-family: var(--firagoBook);
  color: var(--ff-26);
  svg {
    path {
      stroke: var(--ff-26);
    }
  }
  &:hover {
    border: 1px solid var(--btn-hover);
    background-color: var(--btn-hover);
    color: var(--cl-blue);
    svg {
      path {
        stroke: var(--cl-blue);
      }
    }
  }
  span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }
}
// general squar btn style
.squar-el {
  position: relative;
  width: 56px;
  height: 56px;
  min-width: 56px;
  min-height: 56px;
  // background: #f7f8fa;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 24px;
    height: 24px;
  }
  img {
    right: -12px;
    bottom: -12px;
    position: absolute;
    border-radius: 50%;
  }
}
.tr-icon,
.account-svg {
  background: var(--gray-box);
}

.copied {
  position: fixed;
  left: 50%;
  bottom: 0;
  background-color: var(--bg-copied);
  border-radius: 30px;
  transform: translate(-50%, 100%);
  padding: 15px 35px;
  font-size: 1.1rem;
  color: var(--cl-copied);
  transition: 0.1s ease-in-out;
  input {
    display: none;
  }
}
.copied.active {
  transform: translate(-50%, -50%) !important;
}

.chat-fixed {
  background-color: var(--cl-blue);
  width: 64px;
  height: 64px;
  position: fixed;
  right: 32px;
  bottom: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 10px 40px rgba(68, 79, 105, 0.25);
  img {
    filter: invert(1);
    width: 24px;
    height: 24px;
  }
}
