@import url(../variables.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */ }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-color: var(--body-bg-f5);
  font-family: var(--firagoBook); }

ul,
ol {
  list-style-type: none; }

span,
small,
a {
  display: inline-block; }

a {
  color: inherit; }

input {
  background-color: transparent;
  outline: none; }
  input::placeholder {
    font-family: var(--firagoBook); }

button {
  border: none;
  background-color: transparent;
  cursor: pointer; }

.arrow-icon svg path {
  stroke: var(--ff-26); }

.arrow-icon-down {
  transform: rotateZ(90deg); }

.arrow-icon-up {
  transform: rotateZ(-90deg) !important; }

#main-container {
  display: grid;
  grid-template-columns: 280px 1fr; }
  #main-container #sidebar {
    background-color: var(--bg-container); }
  #main-container #section header {
    background-color: var(--bg-container);
    padding: 16px 40px; }
    #main-container #section header > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px; }
      #main-container #section header > div form {
        flex-grow: 1;
        max-width: 928px;
        display: flex;
        align-items: center;
        background-color: var(--fa-1e);
        border-radius: 12px;
        border: 1px solid transparent;
        transition: 0.2s ease-in-out; }
        #main-container #section header > div form input {
          flex-grow: 1;
          border: none;
          height: 24px;
          color: var(--cl-input);
          font-size: 1rem; }
          #main-container #section header > div form input:focus::placeholder {
            opacity: 0; }
          #main-container #section header > div form input::placeholder {
            font-size: 1rem;
            color: var(--cl-input);
            transition: 0.1s ease-in-out; }
        #main-container #section header > div form .search-svg {
          padding: 16px;
          cursor: pointer; }
          #main-container #section header > div form .search-svg svg {
            width: 24px;
            height: 24px; }
            #main-container #section header > div form .search-svg svg path,
            #main-container #section header > div form .search-svg svg circle {
              stroke: var(--sr-info); }
        #main-container #section header > div form .search-exit {
          margin-left: auto;
          margin-right: 23px;
          margin-left: 10px;
          display: none;
          width: 24px;
          height: 24px;
          cursor: pointer; }
      #main-container #section header > div form.active {
        border: 1px solid #2496ff; }
        #main-container #section header > div form.active .search-exit {
          display: inline-block !important; }
          #main-container #section header > div form.active .search-exit svg path {
            stroke: var(--ff-26); }
      #main-container #section header > div .arrow-icon {
        width: 24px;
        height: 24px; }
      #main-container #section header > div .user-lang {
        display: flex;
        align-items: center;
        gap: 24px; }
        #main-container #section header > div .user-lang > div > div:first-child {
          cursor: pointer; }
        #main-container #section header > div .user-lang .user-drop,
        #main-container #section header > div .user-lang .language-drop {
          position: absolute;
          border-radius: 8px;
          background-color: var(--bg-dropdown);
          border: var(--border-width) solid #f7f8fa;
          top: calc(100% + 8px);
          right: 0;
          width: 276px;
          padding: 24px;
          display: none;
          flex-direction: column;
          gap: 16px;
          box-shadow: var(--box-shadow); }
          #main-container #section header > div .user-lang .user-drop li,
          #main-container #section header > div .user-lang .language-drop li {
            padding: 16px 0;
            border-bottom: 1px solid var(--user-lang);
            display: inline-flex;
            justify-content: flex-start; }
            #main-container #section header > div .user-lang .user-drop li a,
            #main-container #section header > div .user-lang .language-drop li a {
              display: inline-flex;
              align-items: center;
              justify-content: flex-start;
              font-size: 14px;
              color: var(--ff-26);
              text-decoration: none;
              gap: 16px; }
              #main-container #section header > div .user-lang .user-drop li a svg path,
              #main-container #section header > div .user-lang .language-drop li a svg path {
                stroke: var(--ff-26); }
              #main-container #section header > div .user-lang .user-drop li a:hover,
              #main-container #section header > div .user-lang .language-drop li a:hover {
                color: var(--cl-blue); }
                #main-container #section header > div .user-lang .user-drop li a:hover svg path,
                #main-container #section header > div .user-lang .language-drop li a:hover svg path {
                  stroke: var(--cl-blue); }
              #main-container #section header > div .user-lang .user-drop li a small,
              #main-container #section header > div .user-lang .language-drop li a small {
                width: 24px;
                height: 24px; }
          #main-container #section header > div .user-lang .user-drop li:first-child,
          #main-container #section header > div .user-lang .language-drop li:first-child {
            padding-top: 0; }
          #main-container #section header > div .user-lang .user-drop li:last-child,
          #main-container #section header > div .user-lang .language-drop li:last-child {
            padding-bottom: 0;
            border-bottom: none; }
        #main-container #section header > div .user-lang .user {
          position: relative; }
          #main-container #section header > div .user-lang .user .user-static {
            display: flex;
            align-items: center;
            gap: 16px; }
            #main-container #section header > div .user-lang .user .user-static span.user-img {
              border-radius: 50%;
              width: 48px;
              height: 48px; }
              #main-container #section header > div .user-lang .user .user-static span.user-img img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center; }
            #main-container #section header > div .user-lang .user .user-static > div {
              display: inline-flex;
              flex-direction: column;
              gap: 8px; }
              #main-container #section header > div .user-lang .user .user-static > div > small {
                font-size: 14px;
                color: var(--cl-84); }
              #main-container #section header > div .user-lang .user .user-static > div > span {
                font-size: 1rem;
                font-family: var(--firagoMedium);
                color: var(--ff-26); }
        #main-container #section header > div .user-lang .language {
          position: relative; }
          #main-container #section header > div .user-lang .language .language-static {
            border: 1px solid var(--cl-border);
            border-radius: 10px;
            padding: 12px;
            color: var(--ff-26);
            display: inline-flex;
            align-items: center;
            gap: 16px; }
            #main-container #section header > div .user-lang .language .language-static .lang-symbol {
              width: 32px;
              height: 32px;
              background: #2496ff;
              border-radius: 6px;
              display: inline-flex;
              justify-content: center;
              align-items: center; }
              #main-container #section header > div .user-lang .language .language-static .lang-symbol img {
                max-width: 16px;
                max-height: 16px; }
          #main-container #section header > div .user-lang .language .language-drop a {
            width: 100%;
            justify-content: space-between;
            align-items: center; }
            #main-container #section header > div .user-lang .language .language-drop a div {
              display: inline-flex;
              align-items: center;
              gap: 16px; }
              #main-container #section header > div .user-lang .language .language-drop a div img {
                width: 24px;
                height: 24px; }
          #main-container #section header > div .user-lang .language .active-lang a {
            color: var(--cl-blue); }
      #main-container #section header > div .user-lang > div.active .user-drop,
      #main-container #section header > div .user-lang > div.active .language-drop {
        display: flex !important; }
      #main-container #section header > div .user-lang > div.active .arrow-icon {
        transform: rotateZ(-90deg) !important; }

#sidebar {
  align-self: flex-start; }
  #sidebar .logo-list {
    padding: 32px 40px; }
    #sidebar .logo-list .company-logo {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      text-decoration: none;
      font-size: 1rem;
      color: var(--cl-mod-42);
      font-family: var(--poppins);
      margin-bottom: 80px; }
    #sidebar .logo-list ul {
      display: flex;
      flex-direction: column;
      gap: 32px; }
      #sidebar .logo-list ul li {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        #sidebar .logo-list ul li a {
          color: var(--ff-26);
          font-family: var(--firagoRegular);
          text-decoration: none;
          font-size: 1rem;
          display: inline-flex;
          justify-content: flex-start;
          align-items: center;
          gap: 16px; }
          #sidebar .logo-list ul li a svg path,
          #sidebar .logo-list ul li a svg circle {
            stroke: var(--ff-26); }
          #sidebar .logo-list ul li a:hover {
            color: var(--cl-blue); }
            #sidebar .logo-list ul li a:hover svg path,
            #sidebar .logo-list ul li a:hover svg circle {
              stroke: var(--cl-blue); }
        #sidebar .logo-list ul li > span {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          background-color: var(--cl-blue);
          color: #fff;
          font-family: var(--poppinsMedium);
          font-weight: 500; }
    #sidebar .logo-list > div {
      margin-bottom: 240px;
      margin-top: 48px;
      display: flex;
      flex-direction: column;
      gap: 24px; }
      #sidebar .logo-list > div > small {
        font-family: var(--firagoBold);
        font-size: 1rem;
        color: var(--ff-26); }
  #sidebar .dark-light-mode {
    padding: 32px 40px 52px;
    border-top: 1px solid var(--aside-border);
    display: flex;
    justify-content: center;
    align-items: center; }
    #sidebar .dark-light-mode > div {
      border: 1px solid var(--mode-balance-border);
      border-radius: 100px;
      overflow: hidden;
      display: inline-flex; }
      #sidebar .dark-light-mode > div button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-size: 1rem;
        padding: 12px 16px;
        font-family: var(--firagoBook);
        font-weight: 350; }
        #sidebar .dark-light-mode > div button svg {
          width: 24px;
          height: 24px; }
      #sidebar .dark-light-mode > div .dark {
        color: var(--cl-moon);
        background-color: var(--gray-box); }
        #sidebar .dark-light-mode > div .dark:hover {
          color: var(--cl-hover-moon); }
          #sidebar .dark-light-mode > div .dark:hover svg path {
            fill: var(--cl-hover-moon); }
        #sidebar .dark-light-mode > div .dark svg path {
          fill: var(--cl-moon); }
      #sidebar .dark-light-mode > div .light {
        color: var(--cl-sun);
        background-color: var(--white-black); }
        #sidebar .dark-light-mode > div .light:hover {
          color: var(--cl-hover-sun); }
          #sidebar .dark-light-mode > div .light:hover svg path {
            fill: var(--cl-hover-sun); }
        #sidebar .dark-light-mode > div .light svg path {
          fill: var(--cl-sun); }

.balance-wiget-transaction {
  display: grid;
  grid-template-columns: 1fr 608px;
  padding: 40px;
  grid-gap: 24px; }
  .balance-wiget-transaction .balance-widget .balance-section {
    background-color: var(--bg-container);
    border-radius: 12px;
    overflow: hidden; }
    .balance-wiget-transaction .balance-widget .balance-section .overall-balance {
      padding: 32px;
      border-bottom: 4px solid var(--mode-balance-border); }
      .balance-wiget-transaction .balance-widget .balance-section .overall-balance > h1,
      .balance-wiget-transaction .balance-widget .balance-section .overall-balance > h2,
      .balance-wiget-transaction .balance-widget .balance-section .overall-balance > h3,
      .balance-wiget-transaction .balance-widget .balance-section .overall-balance > h4,
      .balance-wiget-transaction .balance-widget .balance-section .overall-balance > h5,
      .balance-wiget-transaction .balance-widget .balance-section .overall-balance > h6 {
        font-size: 24px;
        color: var(--ff-26);
        font-family: var(--firagoBold); }
      .balance-wiget-transaction .balance-widget .balance-section .overall-balance .sum-add-balance {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        border-bottom: 1px solid var(--cl-border);
        padding-bottom: 32px; }
        .balance-wiget-transaction .balance-widget .balance-section .overall-balance .sum-add-balance .btn-icon {
          padding: 16px 24px 16px 16px; }
        .balance-wiget-transaction .balance-widget .balance-section .overall-balance .sum-add-balance .sum-balance {
          display: flex;
          flex-direction: column;
          gap: 20px; }
          .balance-wiget-transaction .balance-widget .balance-section .overall-balance .sum-add-balance .sum-balance .native-currency {
            color: var(--ff-26); }
            .balance-wiget-transaction .balance-widget .balance-section .overall-balance .sum-add-balance .sum-balance .native-currency > span {
              font-size: 48px;
              font-family: var(--firagoMedium); }
            .balance-wiget-transaction .balance-widget .balance-section .overall-balance .sum-add-balance .sum-balance .native-currency > small {
              font-size: 24px;
              font-family: var(--firagoBook);
              font-weight: 350; }
          .balance-wiget-transaction .balance-widget .balance-section .overall-balance .sum-add-balance .sum-balance .foreign-currency {
            display: flex;
            flex-wrap: wrap;
            gap: 24px; }
            .balance-wiget-transaction .balance-widget .balance-section .overall-balance .sum-add-balance .sum-balance .foreign-currency > div > span {
              font-size: 16px;
              font-family: var(--firagoMedium);
              color: var(--ff-26); }
            .balance-wiget-transaction .balance-widget .balance-section .overall-balance .sum-add-balance .sum-balance .foreign-currency > div > small {
              font-size: 12px;
              font-family: var(--firagoBook);
              margin-left: 3px;
              color: var(--cl-84); }
      .balance-wiget-transaction .balance-widget .balance-section .overall-balance .account-num {
        padding-top: 32px;
        display: flex;
        justify-content: flex-start;
        gap: 16px; }
        .balance-wiget-transaction .balance-widget .balance-section .overall-balance .account-num > span svg path {
          stroke: var(--ff-26); }
        .balance-wiget-transaction .balance-widget .balance-section .overall-balance .account-num > div {
          display: flex;
          flex-direction: column;
          gap: 8px;
          align-self: center; }
          .balance-wiget-transaction .balance-widget .balance-section .overall-balance .account-num > div > span {
            color: var(--cl-84);
            font-size: 14px;
            font-family: var(--firagoBook); }
          .balance-wiget-transaction .balance-widget .balance-section .overall-balance .account-num > div > div {
            color: var(--ff-26);
            font-size: 1rem;
            font-family: var(--firagoMedium);
            font-weight: 500; }
        .balance-wiget-transaction .balance-widget .balance-section .overall-balance .account-num .copy-svg {
          width: 24px;
          height: 24px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          align-self: flex-end;
          margin-bottom: 6px;
          cursor: pointer; }
          .balance-wiget-transaction .balance-widget .balance-section .overall-balance .account-num .copy-svg svg {
            width: 100%;
            height: 100%; }
            .balance-wiget-transaction .balance-widget .balance-section .overall-balance .account-num .copy-svg svg path {
              stroke: var(--copy-icon); }
    .balance-wiget-transaction .balance-widget .balance-section .payment-methods {
      padding: 32px;
      display: flex;
      gap: 16px;
      flex-wrap: wrap; }
      .balance-wiget-transaction .balance-widget .balance-section .payment-methods button {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 16px;
        padding: 16px;
        gap: 16px;
        border-radius: 10px;
        transition: 0.1s ease-in-out; }
        .balance-wiget-transaction .balance-widget .balance-section .payment-methods button > span {
          background-color: var(--white-black); }
          .balance-wiget-transaction .balance-widget .balance-section .payment-methods button > span svg path,
          .balance-wiget-transaction .balance-widget .balance-section .payment-methods button > span svg circle {
            stroke: var(--ff-26); }
      .balance-wiget-transaction .balance-widget .balance-section .payment-methods .red-dot {
        position: relative; }
        .balance-wiget-transaction .balance-widget .balance-section .payment-methods .red-dot::after {
          content: "";
          position: absolute;
          background: var(--cl-red);
          border: 4px solid var(--circle-border);
          width: 16px;
          height: 16px;
          border-radius: 50%;
          right: -7px;
          top: -6px; }
      .balance-wiget-transaction .balance-widget .balance-section .payment-methods button:nth-child(1) {
        background-color: var(--bg-phone); }
        .balance-wiget-transaction .balance-widget .balance-section .payment-methods button:nth-child(1):hover {
          background-color: var(--bg-hover-phone); }
      .balance-wiget-transaction .balance-widget .balance-section .payment-methods button:nth-child(2) {
        background-color: var(--bg-wallet); }
        .balance-wiget-transaction .balance-widget .balance-section .payment-methods button:nth-child(2):hover {
          background-color: var(--bg-hover-wallet); }
      .balance-wiget-transaction .balance-widget .balance-section .payment-methods button:nth-child(3) {
        background-color: var(--bg-reload); }
        .balance-wiget-transaction .balance-widget .balance-section .payment-methods button:nth-child(3):hover {
          background-color: var(--bg-hover-reload); }
  .balance-wiget-transaction .balance-widget .widget-section {
    display: flex;
    flex-direction: column; }
    .balance-wiget-transaction .balance-widget .widget-section .title-and-arrows {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px 0 16px 0; }
      .balance-wiget-transaction .balance-widget .widget-section .title-and-arrows > h1,
      .balance-wiget-transaction .balance-widget .widget-section .title-and-arrows > h2,
      .balance-wiget-transaction .balance-widget .widget-section .title-and-arrows > h3,
      .balance-wiget-transaction .balance-widget .widget-section .title-and-arrows > h4,
      .balance-wiget-transaction .balance-widget .widget-section .title-and-arrows > h5,
      .balance-wiget-transaction .balance-widget .widget-section .title-and-arrows > h6 {
        font-size: 1rem;
        font-family: var(--firagoBold);
        color: var(--ff-26); }
      .balance-wiget-transaction .balance-widget .widget-section .title-and-arrows .slider-arrows {
        display: inline-flex;
        gap: 8px;
        align-items: center; }
        .balance-wiget-transaction .balance-widget .widget-section .title-and-arrows .slider-arrows button {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          width: 48px;
          height: 48px;
          border-radius: 50%; }
          .balance-wiget-transaction .balance-widget .widget-section .title-and-arrows .slider-arrows button svg {
            width: 24px;
            height: 24px; }
        .balance-wiget-transaction .balance-widget .widget-section .title-and-arrows .slider-arrows .left-slide svg {
          transform: rotateZ(180deg); }
    .balance-wiget-transaction .balance-widget .widget-section > .btn-icon {
      margin-top: 24px;
      padding: 16px 16px 16px 24px;
      align-self: center; }
    .balance-wiget-transaction .balance-widget .widget-section .widget-slider {
      display: flex;
      flex-wrap: wrap; }
      .balance-wiget-transaction .balance-widget .widget-section .widget-slider .widget-slider-item {
        background-color: var(--bg-container);
        padding: 32px 32px 56px 32px;
        border-radius: 12px;
        min-width: 298px;
        cursor: pointer; }
        .balance-wiget-transaction .balance-widget .widget-section .widget-slider .widget-slider-item > span {
          width: 104px;
          height: 104px;
          border-radius: 50%;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 32px; }
          .balance-wiget-transaction .balance-widget .widget-section .widget-slider .widget-slider-item > span img {
            height: 48px; }
        .balance-wiget-transaction .balance-widget .widget-section .widget-slider .widget-slider-item .bluish {
          background-color: var(--bg-wiget1); }
        .balance-wiget-transaction .balance-widget .widget-section .widget-slider .widget-slider-item .reddish {
          background-color: var(--bg-wiget2); }
        .balance-wiget-transaction .balance-widget .widget-section .widget-slider .widget-slider-item .yellowish {
          background-color: var(--bg-wiget3); }
        .balance-wiget-transaction .balance-widget .widget-section .widget-slider .widget-slider-item > div {
          display: flex;
          flex-direction: column; }
          .balance-wiget-transaction .balance-widget .widget-section .widget-slider .widget-slider-item > div > a {
            display: inline-flex;
            align-items: center;
            justify-content: flex-start;
            text-decoration: none;
            font-size: 1rem;
            color: var(--widget-text);
            font-weight: 350; }
            .balance-wiget-transaction .balance-widget .widget-section .widget-slider .widget-slider-item > div > a svg {
              width: 24px;
              height: 24px; }
              .balance-wiget-transaction .balance-widget .widget-section .widget-slider .widget-slider-item > div > a svg path {
                stroke: var(--sr-info); }
          .balance-wiget-transaction .balance-widget .widget-section .widget-slider .widget-slider-item > div > div {
            display: inline-flex;
            gap: 8px; }
            .balance-wiget-transaction .balance-widget .widget-section .widget-slider .widget-slider-item > div > div > span {
              font-family: var(--firagoMedium);
              font-size: 40px;
              color: var(--ff-26); }
            .balance-wiget-transaction .balance-widget .widget-section .widget-slider .widget-slider-item > div > div small {
              align-self: flex-end;
              margin-bottom: 7px;
              font-size: 1rem;
              color: var(--widget-text); }
          .balance-wiget-transaction .balance-widget .widget-section .widget-slider .widget-slider-item > div > span {
            font-size: 14px;
            color: var(--cl-blue); }
          .balance-wiget-transaction .balance-widget .widget-section .widget-slider .widget-slider-item > div .red {
            color: var(--cl-red) !important; }
  .balance-wiget-transaction .transaction {
    background: var(--bg-container);
    border-radius: 12px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px; }
    .balance-wiget-transaction .transaction > h1,
    .balance-wiget-transaction .transaction > h2,
    .balance-wiget-transaction .transaction > h3,
    .balance-wiget-transaction .transaction > h4,
    .balance-wiget-transaction .transaction > h5,
    .balance-wiget-transaction .transaction > h6 {
      font-size: 24px;
      font-family: var(--firagoBold);
      color: var(--ff-26); }
    .balance-wiget-transaction .transaction .transaction-history {
      display: flex;
      flex-direction: column;
      gap: 24px; }
      .balance-wiget-transaction .transaction .transaction-history .tr-row {
        display: flex;
        flex-direction: column;
        gap: 16px; }
        .balance-wiget-transaction .transaction .transaction-history .tr-row .tr-date {
          color: var(--cl-84);
          font-size: 12px;
          font-family: var(--firagoBook);
          font-weight: 350; }
        .balance-wiget-transaction .transaction .transaction-history .tr-row > div:not(> div:last-child) {
          background-color: red; }
        .balance-wiget-transaction .transaction .transaction-history .tr-row > div {
          border-bottom: 1px solid var(--opac-border);
          padding-bottom: 16px; }
        .balance-wiget-transaction .transaction .transaction-history .tr-row > div:last-child {
          border-bottom: none;
          padding-bottom: 0px; }
        .balance-wiget-transaction .transaction .transaction-history .tr-row > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 16px; }
          .balance-wiget-transaction .transaction .transaction-history .tr-row > div > span svg path,
          .balance-wiget-transaction .transaction .transaction-history .tr-row > div > span svg circle {
            stroke: var(--ff-26); }
          .balance-wiget-transaction .transaction .transaction-history .tr-row > div .tr-info {
            display: flex;
            flex-direction: column;
            gap: 13px;
            flex-grow: 1;
            overflow: hidden; }
            .balance-wiget-transaction .transaction .transaction-history .tr-row > div .tr-info > div {
              font-size: 16px;
              color: var(--ff-26);
              font-family: var(--firagoRegular);
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis; }
            .balance-wiget-transaction .transaction .transaction-history .tr-row > div .tr-info > p {
              color: var(--cl-84);
              font-size: 14px;
              line-height: 17px;
              font-family: var(--firagoBook);
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis; }
          .balance-wiget-transaction .transaction .transaction-history .tr-row > div .tr-quant {
            display: inline-flex;
            justify-content: center;
            align-items: flex-end; }
            .balance-wiget-transaction .transaction .transaction-history .tr-row > div .tr-quant > span {
              font-family: var(--firagoMedium);
              color: var(--ff-26); }
            .balance-wiget-transaction .transaction .transaction-history .tr-row > div .tr-quant small {
              color: var(--cl-84);
              font-size: 12px;
              margin-left: 3px;
              margin-top: -2px; }
    .balance-wiget-transaction .transaction > button {
      align-self: center;
      padding: 16px 16px 16px 24px; }

.btn-icon {
  border: 1px solid var(--cl-border);
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  font-family: var(--firagoRegular);
  color: var(--ff-26); }
  .btn-icon svg path {
    stroke: var(--ff-26); }
  .btn-icon:hover {
    border: 1px solid var(--btn-hover);
    background-color: var(--btn-hover);
    color: var(--cl-blue); }
    .btn-icon:hover svg path {
      stroke: var(--cl-blue); }
  .btn-icon span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px; }

.squar-el {
  position: relative;
  width: 56px;
  height: 56px;
  min-width: 56px;
  min-height: 56px;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center; }
  .squar-el svg {
    width: 24px;
    height: 24px; }
  .squar-el img {
    right: -12px;
    bottom: -12px;
    position: absolute;
    border-radius: 50%; }

.tr-icon,
.account-svg {
  background: var(--gray-box); }

.copied {
  position: fixed;
  left: 50%;
  bottom: 0;
  background-color: var(--bg-copied);
  border-radius: 30px;
  transform: translate(-50%, 100%);
  padding: 15px 35px;
  font-size: 1.1rem;
  color: var(--cl-copied);
  transition: 0.1s ease-in-out; }
  .copied input {
    display: none; }

.copied.active {
  transform: translate(-50%, -50%) !important; }

.chat-fixed {
  background-color: var(--cl-blue);
  width: 64px;
  height: 64px;
  position: fixed;
  right: 32px;
  bottom: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 10px 40px rgba(68, 79, 105, 0.25); }
  .chat-fixed img {
    filter: invert(1);
    width: 24px;
    height: 24px; }

/*# sourceMappingURL=main.css.map */
